streamlit
python-dotenv
langchain
langchain-community
langchain-google-genai
langchain-chroma
langchain-text-splitters
langchain
pypdf
chromadb
langchain-openai
sentence-transformers
langsmith
langgraph